<div class="card-header bg-light text-black d-flex justify-content-between align-items-center">
  <span><i class="fa fa-newspaper-o"></i> Posts</span>
  <form action="/posts" method="GET" class="form-inline">
    <input type="text" name="search" placeholder="Search..." class="form-control form-control-sm mr-2">
    <button type="submit" class="btn btn-sm btn-outline-secondary">Search</button>
  </form>
</div>

<div id="main" class="p-3">
  {{#if posts}}
    <div class="row">
      {{#each posts}}
      <div class="col-md-6 mb-4">
        <div class="card h-100 shadow-sm border-0">

          {{!-- First image only --}}
          {{#if filenames.[0]}}
            {{#ifExtensionEquals filenames.[0] "mp4"}}
              <video class="card-img-top post-media" controls>
                <source src="/public/upload/{{_id}}/{{filenames.[0]}}" type="video/mp4">
              </video>
            {{else}}
              <img src="/public/upload/{{_id}}/{{filenames.[0]}}" class="card-img-top post-media" alt="{{title}}">
            {{/ifExtensionEquals}}
          {{else}}
            <img src="/public/img/share-japan_logo.png" class="card-img-top p-4" alt="{{title}}">
          {{/if}}

          <div class="card-body">
            <h5 class="card-title line-clamp-2">
              <a href="/posts/{{_id}}" class="text-reset text-decoration-none">{{title}}</a>
            </h5>
            <p class="card-text small text-muted">
              <i class="fa fa-clock-o"></i> {{timeago timestamp}}<br>
              @ <a href="/city/{{where.prefecture}}/{{where.city}}" class="text-muted">{{where.city}}</a>,
              <a href="/prefecture/{{where.prefecture}}" class="text-muted">{{where.prefecture}}</a><br>
              by <a href="/user/profile/{{user}}" class="text-muted">{{author}}</a>
            </p>
          </div>

          <div class="card-footer bg-white border-0 pt-0">
            <div class="d-flex justify-content-between small text-muted">
              <span>
                {{#if user_liked}}
                  {{likes.length}} <i class="fa fa-heart text-danger"></i>
                {{else}}
                  {{likes.length}} <i class="fa fa-heart-o"></i>
                {{/if}}
              </span>
              <span>
                {{#if user_saved}}
                  {{saved_by.length}} <i class="fa fa-flag text-warning"></i>
                {{else}}
                  {{saved_by.length}} <i class="fa fa-flag-o"></i>
                {{/if}}
              </span>
              <span>
                {{views}} <i class="fa fa-eye"></i>
              </span>
            </div>
          </div>

        </div>
      </div>
      {{/each}}
    </div>
  {{else}}
    <div class="text-center p-5">
      {{#if loggedUser}}
        <p>No posts yet for this region. <a href="/form">Be the first!</a></p>
      {{else}}
        <p>No posts yet for this region. <a href="/user/login">Log in</a> to publish one.</p>
      {{/if}}
    </div>
  {{/if}}
</div>
