<div class="card-header bg-light text-black">
  <i class="fa fa-newspaper-o" aria-hidden="true"></i>
  Posts concerning {{concerning}}
</div>

<div id="main" class="p-3">
  {{#if posts}}
    <div class="row">
      {{#each posts}}
      <div class="col-md-6 mb-4">
        <div class="card h-100 shadow-sm border-0">

          {{!-- Thumbnail (first file only, else placeholder) --}}
          {{#if filenames.[0]}}
            {{#ifExtensionEquals filenames.[0] "mp4"}}
              <video class="card-img-top post-media" controls preload="metadata">
                <source src="/public/upload/{{_id}}/{{filenames.[0]}}" type="video/mp4">
              </video>
            {{else}}
              <img src="/public/upload/{{_id}}/{{filenames.[0]}}" class="card-img-top post-media" alt="{{title}}">
            {{/ifExtensionEquals}}
          {{else}}
            <img src="/public/img/share-japan_logo.png" class="card-img-top p-4" alt="{{title}}">
          {{/if}}

          <div class="card-body">
            <h5 class="card-title line-clamp-2 mb-2">
              <a href="/posts/{{_id}}" class="text-reset text-decoration-none">{{title}}</a>
            </h5>

            <p class="card-text small text-muted mb-0">
              <i class="fa fa-clock-o"></i> {{timeago timestamp}}<br>
              @ <a href="/city/{{where.prefecture}}/{{where.city}}" class="text-muted">{{where.city}}</a>,
              <a href="/prefecture/{{where.prefecture}}" class="text-muted">{{where.prefecture}}</a><br>
              about
              <a href="/topic/{{about.category}}/{{about.subcategory}}" class="text-muted">{{about.subcategory}}</a>,
              <a href="/topic/{{about.category}}" class="text-muted">{{about.category}}</a><br>
              by <a href="/user/profile/{{user}}" class="text-muted">{{author}}</a>
            </p>
          </div>

          <div class="card-footer bg-white border-0 pt-0">
            <div class="d-flex justify-content-between small text-muted">
              <span>
                {{#if user_liked}}
                  {{likes.length}} <i class="fa fa-heart text-danger"></i>
                {{else}}
                  {{likes.length}} <i class="fa fa-heart-o"></i>
                {{/if}}
              </span>
              <span>
                {{#if user_saved}}
                  {{saved_by.length}} <i class="fa fa-flag"></i>
                {{else}}
                  {{saved_by.length}} <i class="fa fa-flag-o"></i>
                {{/if}}
              </span>
              <span>
                {{views}} <i class="fa fa-eye"></i>
              </span>
            </div>
          </div>

        </div>
      </div>
      {{/each}}
    </div>
  {{else}}
    <div class="text-center p-5">
      {{#if loggedUser}}
        <p>No posts have been published yet for {{concerning}}. <a href="/form">Be the first!</a></p>
      {{else}}
        <p>No posts have been published yet for {{concerning}}. <a href="/user/login">Log in</a> to publish one.</p>
      {{/if}}
    </div>
  {{/if}}
</div>
