{{#ifLengthDictGreaterThan about_posts 0}}
  {{#each about_posts}}
    <!-- Prefecture name -->
    <h3 class="mb-4 text-capitalize">{{@key}}</h3>

    <div class="row g-3">
      {{#each this}}
        <div class="col-md-6">
          <div class="card h-100 shadow-sm">
            <a href="/select/{{@../key}}/{{@key}}">
            {{#if this.image}}
                <img src="/public/upload/{{this._id}}/{{this.image}}" class="card-img-top" alt="{{this.title}}">
            {{else}}
            <div class="card-img-container">
                <img src="/public/upload/share-japan_logo.jpeg" class="card-img-top" alt="{{this.title}}">
            </div>
            {{/if}}
            </a>
            <div class="card-body">
              <h5 class="card-title">
                <a href="/select/{{@../key}}/{{@key}}" class="text-decoration-none text-dark">
                  {{this.title}}
                </a>
              </h5>
              <p class="text-muted mb-1">
                Category: {{@key}}
              </p>
              <p class="mb-0">
                {{this.num}} posts
              </p>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  {{/each}}
{{else}}
    {{#if loggedUser}}
        <div class="no-posts">
            <p>
                No posts have been published yet for this city. <br>
                Be the first, click <a href="/form">here</a>.
            </p>
        </div>
    {{else}}
        <div class="no-posts">
            <p>
                No posts have been published yet for this city. <br>
                Be the first, click <a href="/user/login">here</a>.
            </p>
        </div>
    {{/if}}
{{/ifLengthDictGreaterThan}}
