{{#ifLengthDictGreaterThan about_posts 0}}
    {{#each about_posts}}
        {{#each this}}
        <p>
            <a href="/select/{{ @../key }}/{{ @key }}">{{ this }} post{{#gt this 1}}s{{/gt}} about {{ @key }}</a>
        </p>
        {{/each}}
    {{/each}}
{{else}}
    {{#if is_user}}
    <p>
        No posts have been published yet for this city. <br> Be the first, click <a href="/form">here</a>
    </p>
    {{else}}
    <p>
        No posts have been published yet for this city. <br> Be the first, click <a href="/user/login">here</a>
    </p>
    {{/if}}
{{/ifLengthDictGreaterThan}}