<div>
    <div class="card-header bg-light text-black">
        <i class="fa fa-newspaper-o" aria-hidden="true"></i> Published by {{ author }}
        {{!-- <p><a href="/form">Leave a post!</a></p> --}}
    </div>
    <div id="main">
        <div class="card-body">
            {{#each posts}}
            <div class="row">
                <div class="col-md-10" style="float:none;margin:auto;">
                    <div class="card-header text-left">
                        <i class="black"><i class="fa fa-clock-o" aria-hidden="true"></i> {{timeago
                            timestamp}}</i><br>
                        @<a href="/city/{{where}}"><i> {{where}}</i></a>
                        about<a href="/topic/{{about}}"><i> {{about}}</i></a>
                    </div>
                    <a id="link" href="/posts/{{ _id  }}">
                        <div class="card-body col-md-10 text-center">
                            <h1>{{title}}</h1>
                            {{#if filenames}}
                                <div id="carousel-{{@index}}" class="carousel slide">
                                    <ol class="carousel-indicators">
                                        {{#each filenames}}
                                            {{#if @first}}
                                                <li data-target="#carousel-{{@../index}}" data-slide-to="{{@index}}" class="active"></li>
                                            {{else}}
                                                <li data-target="#carousel-{{@../index}}" data-slide-to="{{@index}}"></li>
                                            {{/if}}
                                        {{/each}}
                                    </ol>
                                    <div class="carousel-inner">
                                        {{#each filenames}}
                                            <div class="carousel-item {{#if @first}}active{{/if}}">
                                                {{#ifExtensionEquals this "mp4"}}
                                                    <video width="50%" controls>
                                                        <source src="/public/upload/{{ ../_id }}/{{this}}" type="video/mp4">
                                                    </video>
                                                {{else}}
                                                    <img src="/public/upload/{{ ../_id }}/{{this}}" alt="{{../title}}" style="width: 50%;">
                                                {{/ifExtensionEquals}}
                                            </div>
                                        {{/each}}
                                    </div>
                                    <a class="carousel-control-prev" href="#carousel-{{@index}}" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carousel-{{@index}}" role="button" data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            {{else}}
                                <img src="/public/img/share-japan_logo.png" alt="{{title}}" class="img-fluid" width="40" height="40">
                            {{/if}}
                            <p>
                                {{likes.length}} <i class="fa fa-heart-o" aria-hidden="true"></i>
                                {{views}} <i class="fa fa-eye" aria-hidden="true"></i>
                            </p>
                        </div>
                        <br>
                    </a>
                </div>
            </div>
            {{else}}
            <div class="card-header bg-light text-black">
                <i class="fa fa-newspaper-o" aria-hidden="true"></i> My Posts
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-10">
                        <div class="card-body col-md-10 text-center">
                            No post yet, <a href="/form" id="link"> click<b> here </b></a>and write your first one!
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>